:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==============Common============== */
.content {
    width: 1170px;
    max-width: calc(100% - 4.8rem);
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    height: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.desc {
    font-weight: 400;
    color: #5f5b53;
}

.sub-heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.dots {
    display: flex;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}

/* ==============Navbar============== */
.header {
    padding-top: 36px;
    background: #fffcf4;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header-body {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar img {
    margin-right: 512px;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
    text-decoration: none;
    padding: 8px 21px;
}

.navbar ul a:hover,
.navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.action {
    margin-left: 51px;
}

.action-btn {
    min-width: 144px;
    background: #171100;
}

/* ==============Hero============== */

.hero {
    padding: 56px 0 64px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero-media {
    position: relative;
    width: 48%;
}

.hero-media .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    background: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-child(2) .icon {
    background: #ebeaff;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-content {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero-content .heading {
    margin-bottom: 22px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-content .desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-content .hero-cta-group {
    display: flex;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero-cta-group .hero-cta-btn {
    margin-right: 28px;
    background: var(--font-heading);
    min-width: 180px;
}

.hero-cta-group .hero-watch {
    display: flex;
    align-items: center;
}

.hero-cta-group .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-cta-group span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-content .stats {
    margin: 8px 0 0 -28px;
}

.hero-content .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ==============Popular============== */

.popular {
    padding: 200px 0;
    background: #e5e5e5;
}

.popular .popular-info .desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular-top {
    display: flex;
    align-items: center;
}

.popular-top .controls {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.popular-top .popular-info {
    width: 39%;
}

.popular-top .sub-heading {
    font-size: 3.8rem;
    line-height: 1.26;
    margin-bottom: 16px;
}

.popular-top .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .controls-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.popular .course-img {
    width: 100%;
    display: block;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .info {
    margin: 16px 22px 22px 22px;
}

.popular .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .desc {
    margin: 6px 0 12px;
    width: 88%;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .book-btn {
    font-size: 1.4rem;
    line-height: 1.86px;
    background: #000;
}

.popular .book-btn:hover {
    background: var(--primary-color);
    cursor: pointer;
    border: 0px solid #fff;
}

/* ==============Feedback============== */

.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .body {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.feedback .info {
    width: 14%;
}

.feedback .avatar {
    display: block;
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .title {
    margin: 8px 0 4px;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-bottom: 28px;
}

.feedback .active {
    background: var(--primary-color);
    border-radius: 50%;
    cursor: default;
}

.feedback .feedback-content {
    width: 66%;
    margin-left: auto;
}

.feedback blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 30px;
}

/* ==============Features============== */

.features {
    padding: 200px 0;
}

.features .body {
    display: flex;
    align-items: center;
}

.features .image {
    display: flex;
    gap: 30px;
}

.features .image .lower {
    margin-top: 34px;
}

.features .image img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .features-content {
    display: flex;
    flex-direction: column;
    width: 41%;
    margin-left: auto;
}

.features .sub-heading {
    font-size: 3.8rem;
    line-height: 1.26;
}

.features .desc {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features .features-btn {
    margin-top: 32px;
    width: 137px;
    background: var(--primary-color);
}

.features .content-2 {
    padding-top: 200px;
}

.features .features-content-2 {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-right: auto;
}

.features .features-image-2 {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ==============Our Blog============== */

.our-blog {
    padding: 96px 0;
    background: #fffcf4;
}

.our-blog .blog-top {
    margin: auto;
    text-align: center;
    width: 39%;
}

.blog-top .sub-heading {
    font-size: 3.8rem;
    line-height: 1.26;
    margin-bottom: 16px;
}

.blog-top .desc {
    margin-bottom: 55px;
}

.our-blog .blog-list {
    display: flex;
    gap: 30px;
}

.blog-list .item {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    width: calc(100% / 3);
}

.blog-list .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-list .info {
    padding: 20px 20px 28px 20px;
}

.blog-list .info span {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-list .info span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blog-list .info span::after {
    position: absolute;
    bottom: -12px;
    left: 0;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-list .info .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
    margin: 25px 0 12px;
}

.blog-list .info .btn {
    background: #171100;
    border-radius: 25px;
    width: 118px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog-list .info .btn:hover {
    background: var(--primary-color);
}

.our-blog .dots {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.our-blog .active {
    background: var(--primary-color);
    border-radius: 50%;
    cursor: default;
}

/* ==============Footer============== */

.footer {
    padding: 96px 0 28px;
    background: #2e2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.footer .row .column {
    width: 20%;
}

.footer .row .column:first-child {
    width: 40%;
}

.footer .row .desc {
    margin-top: 18px;
    font-size: 1.4rem;
    max-width: 267px;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .row .title {
    position: relative;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    margin-bottom: 43px;
}

.footer .row .title::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .row a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
    text-decoration: none;
}

.footer .row a strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .copyright p {
    padding-top: 28px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #807d74;
}

.footer .copyright::before {
    display: block;
    content: "";
    max-width: 1170px;
    height: 1px;
    background: #59554b;
}
